.tab-bar {
    background-color: #fefcfe;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 48px;
    justify-content: space-between;
    .tab-indicator {
        position: absolute;
        background-color: #f0f4f7;
        width: 66px;
        height: 42px;
        border-radius: 0 0 50px 50px;
        z-index: 1;
        transform: translateX(155px);
        transition: transform .3s ease-out;
        .tab-indicator-left,
        .tab-indicator-right {
            background-color: #f0f4f7;
            height: 25px;
            width: 25px;
            position: absolute;
            &:after {
                content: "";
                width: 100%;
                height: 100%;
                background-color: #fefcfe;
                display: block;
            }
        }
        .tab-indicator-left {
            left: -23px;
            &:after {
                border-radius: 0 25px 0 0;
            }
        }
        .tab-indicator-right {
            right: -23px;
            &:after {
                border-radius: 25px 0 0 0;
            }
        }
    }
    .tab-item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: calc(100%/5);
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        outline: none !important;
        .tab-item-inner {
            position: absolute;
            display: flex;
            height: 48px;
            width: 48px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            transition: transform .2s ease-out, box-shadow .2s ease-out;
            svg {
                width: 40%;
                transition: fill .2s ease-out .2s;
                * {
                    stroke: #bbb;
                }
            }
        }
        &.active .tab-item-inner {
            transform: translateY(-12px);
            transition-delay: .2s;
            background-color: #fefcfe;
            z-index: 2;
            box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .25);
            svg {
                * {
                    stroke: $color-app;
                    opacity: 0;
                    animation: draw .8s linear forwards .2s;
                }
            }
        }
    }
}

.tab-item.active {
    #layout * {
        stroke-dasharray: 260;
        stroke-dashoffset: 260;
    }
    #list * {
        stroke-dasharray: 100;
        stroke-dashoffset: 100;
    }
    #settings * {
        stroke-dasharray: 415;
        stroke-dashoffset: 415;
    }
    #message * {
        stroke-dasharray: 370;
        stroke-dashoffset: 370;
    }
    #user * {
        stroke-dasharray: 1500;
        stroke-dashoffset: 1500;
    }
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}