.home-page {
    &__header {
        background: $white;
        margin-bottom: 8px;
        border-bottom: 1px solid #efeef0;
        .top {
            // background: url(https://salt.tikicdn.com/ts/banner/d4/39/de/75342f8d0d001c296a01cfc7c5120951.png) center bottom / cover no-repeat rgb(255, 255, 255);
            height: 200px;
            background-color: $color-app !important;
            .top-content {
                @include flexbox();
                @include justify-content (space-between);
                @include align-items(center);
                padding: 12px 15px;
                .location {
                    @include flexbox();
                    @include align-items(baseline);
                    &-name {
                        padding-left: 4px;
                        font-weight: 500;
                        line-height: 20px;
                        font-size: 14px;
                        color: $white;
                    }
                    svg {
                        fill: $white;
                    }
                    .down {
                        padding-left: 5px;
                        svg {
                            fill: $white;
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
                .menu {
                    @include flexbox();
                    @include align-items(center);
                    a {
                        position: relative;
                        padding-left: 20px;
                        .count {
                            position: absolute;
                            display: inline-block;
                            padding: .25em .4em;
                            font-size: 8px;
                            font-weight: 700;
                            line-height: 1;
                            text-align: center;
                            white-space: nowrap;
                            vertical-align: baseline;
                            border-radius: .25rem;
                            color: $white;
                            background-color: $color-price-app;
                            right: -5px;
                            top: -2px;
                        }
                        svg {
                            fill: $white;
                            width: 18px;
                            height: 18px;
                            path {
                                stroke: $white;
                            }
                        }
                    }
                }
            }
        }
        .body {
            margin-top: -153px;
            padding: 0 15px;
            &-search {
                display: flex;
                align-items: center;
                z-index: 1;
                line-height: 36px;
                padding: 0px 12px;
                background-color: rgb(255, 255, 255);
                border-radius: 3px;
                transition-duration: 0.3s;
                box-sizing: border-box;
                button {
                    width: 25px;
                    height: 25px;
                    padding: 0;
                    margin: 0;
                    border: 0;
                    background: transparent;
                }
                input {
                    border: 0px;
                    height: 36px;
                    line-height: 36px;
                    margin: 0px 0px 0px 8px;
                    outline: 0px;
                    width: 100%;
                    padding: 0px;
                }
            }
            &-slide {
                border-radius: 5px;
                overflow: hidden;
                margin-top: 10px;
                &__item {
                    img {
                        display: block;
                        border-radius: 5px;
                    }
                }
            }
            &-service {
                a {
                    display: block;
                    text-align: center;
                    img {
                        border-radius: 4px;
                        //box-shadow: 5px 10px 28px rgba(0, 0, 0, 0.25);
                    }
                    .text {
                        @include cut-text();
                        color: $black;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 20px;
                        padding-top: 8px;
                    }
                }
            }
        }
    }
    &__client {
        padding: 15px;
        margin-bottom: 8px;
        background: $white;
        .title {
            font-weight: 600;
            margin-bottom: 10px;
            font-size: 15px;
        }
        .box {
            border-radius: 6px;
            overflow: hidden;
        }
        .note {
            @include flexbox();
            @include justify-content (space-between);
            @include align-items(center);
            padding: 12px 0;
            span {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 12px;
                &:first-child {
                    color: $color-app;
                }
            }
        }
        .list-client {
            margin: 0 -4px;
            box-sizing: border-box;
            &__item {
                padding: 0 4px;
                box-sizing: border-box;
                outline: none !important;
                .image {
                    border: 1px solid #f0f4f7;
                    border-radius: 5px;
                    overflow: hidden;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.22);
                        left: 0;
                        top: 0;
                        z-index: 9;
                        display: none;
                    }
                    svg {
                        position: absolute;
                        fill: $white;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        z-index: 10;
                        display: none;
                    }
                    img {
                        height: 72px;
                        object-fit: cover;
                    }
                }
                &.active {
                    .image {
                        &:before {
                            display: block;
                        }
                        svg {
                            display: block;
                        }
                        img {
                            transform-origin: top center;
                            animation-name: swing;
                        }
                    }
                }
            }
        }
    }
    &__news {
        background: $white;
        padding: 15px;
        margin-bottom: 15px;
        .page-news__list {
            margin: 0;
            .page-news__list-ul {
                .page-news__list-item {
                    .text {
                        padding: 14px 0 0;
                    }
                }
            }
        }
    }
    &__product {
        background: $white;
        margin-bottom: 8px;
        .head {
            @include flexbox();
            @include justify-content(space-between);
            @include align-items(flex-end);
            border-bottom: 1px solid #f0f4f7;
            padding: 15px 15px 14px 15px;
            h5 {
                margin: 0;
                font-size: 15px;
                text-transform: uppercase;
                a {
                    color: #000;
                    display: inline-block;
                }
            }
            .all a {
                color: #1c3faa;
                font-size: 13px;
                font-weight: 500;
            }
        }
        .body {
            padding: 15px 15px 5px 15px;
            .page-shop__list-item {
                box-shadow: none;
                margin: 0;
                .page-shop__list-img {
                    img {
                        border-radius: 6px;
                    }
                }
                .page-shop__list-text {
                    h3 {
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .banner-main {
        position: relative;
        .slick-dots {
            right: 15px;
            bottom: 15px;
            width: auto;
            li {
                width: auto;
                height: auto;
                margin: 0 0 0 5px;
                button {
                    padding: 0;
                    background: $white;
                    border: 1px solid $color-app;
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    &::before {
                        display: none;
                    }
                }
                &.slick-active {
                    button {
                        background: $color-app;
                    }
                }
            }
        }
    }
}

.page[data-name="home"] {
    .ptr-preloader {
        background: $color-app;
        .preloader-inner {
            .preloader-inner-line {
                background: #fff;
            }
        }
    }
    .ptr-arrow {
        color: #fff;
    }
}

.slider-hot {
    background: #fff;
    padding-top: 12px;
}

.home-slide-center {
    display: flex;
    align-items: center;
    a:nth-child(2) {
        padding: 0 10px;
    }
}