.page-nodata {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    padding: 30px;
    &__img {
        text-align: center;
        margin-bottom: 25px;
        img {
            width: 100%;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 15px;
        text-align: center;
    }
}