.page-render-pay {
    height: 100%;
    overflow: hidden;
}

.page[data-name="shop-pay"] {
    .ptr-preloader {
        background: #fff;
    }
    .loader-show {
        .page-pay-1 {
            height: calc(100% - 142px) !important;
        }
    }
}

.page-pay {
    height: 100%;
    position: relative;
    &-1 {
        height: calc(100% - 98px);
        box-sizing: border-box;
        overflow: auto;
    }
    &__information {
        margin-bottom: .5rem;
        padding: 15px 12px;
        background: $white;
        position: relative;
        .line {
            height: .25rem;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 1rem, transparent 0, transparent 1.3125rem, #f18d9b 0, #f18d9b 2.3125rem, transparent 0, transparent 2.625rem);
        }
        h4 {
            margin: 0 0 8px 0;
            font-size: 15px;
            svg {
                margin-right: 8px;
                color: $color-app;
                vertical-align: text-top;
            }
        }
        .address {
            font-size: 14px;
            margin-top: 2px;
            line-height: 19px;
        }
        .item {
            @include flexbox();
            span {
                display: block;
                position: relative;
                &:first-child {
                    padding-right: 25px;
                    &::before {
                        content: "";
                        width: 1px;
                        height: 13px;
                        background: rgba(0, 0, 0, .4);
                        position: absolute;
                        right: 12px;
                        top: 3px;
                    }
                }
            }
        }
    }
    &__note {
        background: $white;
        padding: 12px;
        margin-top: 5px;
        .item {
            p {
                margin: 0 0 10px 0;
                font-weight: 600;
            }
            textarea {
                width: 100%;
                min-height: 80px;
            }
        }
    }
    &__title {
        margin: 0;
        padding: 12px;
        line-height: 24px;
        font-size: 15px;
        background: #fff;
        border-top: 10px solid #f4f7f9;
    }
    &__list2 {
        border-top: 1px solid #b4e5de;
    }
    &__list {
        padding: 12px;
        background: $white;
        &-item {
            @include flexbox();
            box-sizing: border-box;
            margin-bottom: 20px;
            &:first-child {
                margin-top: 12px;
            }
            &:last-child {
                margin-bottom: 15px;
            }
            .delete {
                width: 30px;
                @include flexbox();
                @include align-items(center);
                @include justify-content(center);
                color: $color-price-app;
            }
            .image {
                width: 100px;
                border: 1px solid #e8e8e8;
                box-sizing: border-box;
            }
            .info {
                width: calc(100% - 100px);
                padding-left: 15px;
                box-sizing: border-box;
                h3 {
                    margin: 0;
                    line-height: 16px;
                    font-size: 13px;
                    color: rgba(0, 0, 0, .87);
                    font-weight: 600;
                }
                .info-price {
                    @include flexbox();
                    margin-top: 5px;
                    position: relative;
                    .qty {
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                    p {
                        font-weight: 600;
                        font-size: 13px;
                        margin: 0;
                        b {
                            font-weight: 500;
                            padding-left: 2px;
                            font-size: 12px;
                        }
                        &.price-s {
                            display: none;
                        }
                    }
                    &.hasSale {
                        .price-s {
                            display: block;
                            order: 1;
                            color: $color-price-app;
                            margin-right: 5px;
                            font-weight: 600;
                        }
                        .price-p {
                            order: 2;
                            text-decoration: line-through;
                            color: #999999;
                        }
                    }
                }
                .qty-form {
                    @include flexbox();
                    margin-top: 10px;
                    input {
                        width: 70px;
                        border: 1px solid rgba(0, 0, 0, .09);
                        outline: none;
                        text-align: center;
                        height: 30px;
                        font-size: 13px;
                    }
                    &__count {
                        width: 50px;
                        border: 1px solid rgba(0, 0, 0, .09);
                        outline: none;
                        text-align: center;
                        height: 30px;
                        line-height: 30px;
                        font-size: 13px;
                    }
                    button {
                        outline: none;
                        width: 30px;
                        border: 1px solid rgba(0, 0, 0, 0.09);
                        background: transparent;
                        font-size: 18px;
                        color: #333;
                        &.reduction {
                            border-right: 0;
                        }
                        &.increase {
                            border-left: 0;
                        }
                    }
                }
            }
        }
    }
    &__total {
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .09);
        background: $white;
        position: relative;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 2;
        ul {
            li {
                @include flexbox;
                @include align-items(center);
                @include justify-content(space-between);
                padding: 10px 12px;
                border-top: 1px solid rgba(0, 0, 0, .09);
                &.voucher {
                    .title {
                        @include flexbox;
                        @include align-items(center);
                        svg {
                            fill: $color-price-app;
                            color: $color-price-app;
                        }
                        span {
                            font-weight: 600;
                            font-size: 14px;
                            padding-left: 8px;
                            line-height: 17px;
                        }
                    }
                    .box {
                        .box-text {
                            position: relative;
                            padding-right: 20px;
                            color: rgba(0, 0, 0, .54);
                            svg {
                                fill: rgba(0, 0, 0, .54);
                                stroke: rgba(0, 0, 0, .54);
                                width: 14px;
                                position: absolute;
                                right: 0;
                                top: 3px;
                            }
                            .vcode {
                                font-weight: 700;
                                color: $color-price-app;
                            }
                            .box-vocher-checked {
                                svg {
                                    fill: #d0011b;
                                    stroke: #d0011b;
                                }
                            }
                        }
                    }
                }
                &.wallet {
                    .title {
                        @include flexbox;
                        @include align-items(center);
                        span {
                            font-weight: 600;
                            font-size: 14px;
                            padding-left: 8px;
                            line-height: 17px;
                            span {
                                font-size: 13px;
                                color: $color-price-app;
                                font-weight: 700;
                                padding: 0 2px;
                                b {
                                    font-size: 12px;
                                    padding-left: 2px;
                                }
                            }
                        }
                    }
                    .box {
                        .box-text {
                            position: relative;
                            padding-right: 20px;
                            color: rgba(0, 0, 0, .54);
                            svg {
                                fill: rgba(0, 0, 0, .54);
                                stroke: rgba(0, 0, 0, .54);
                                width: 14px;
                                position: absolute;
                                right: 0;
                                top: 3px;
                            }
                            .vcode {
                                font-weight: 700;
                                color: $color-price-app;
                                b {
                                    font-size: 12px;
                                    padding-left: 2px;
                                }
                            }
                            .box-vocher-checked {
                                svg {
                                    fill: #d0011b;
                                    stroke: #d0011b;
                                }
                            }
                        }
                    }
                }
                &.total {
                    .title {
                        font-weight: 400;
                        @include flexbox();
                        span {
                            font-weight: 700;
                            color: $color-price-app;
                            display: block;
                            margin-left: 5px;
                            font-size: 15px;
                            b {
                                font-size: 12px;
                                padding-left: 2px;
                            }
                        }
                    }
                    .btns {
                        button {
                            font-weight: 400;
                            font-size: 14px;
                            border-radius: 4px;
                            padding: 8px 20px;
                            outline: none;
                            background-color: $color-app;
                            border: 1px solid $color-app;
                            color: $white;
                        }
                        .disabled-btn {
                            opacity: .6;
                            pointer-events: none;
                        }
                    }
                }
            }
        }
    }
}

.voucher-popup-swipe {
    min-height: 50%;
    height: 85%;
    top: auto;
    bottom: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-top: 12px;
    background: rgb(238, 238, 238);
    &__close {
        position: absolute;
        width: 40px;
        height: 4px;
        background: #444;
        border-radius: 5px;
        top: 6px;
        left: 50%;
        transform: translateX(-50%);
    }
    .head {
        @include flexbox;
        @include justify-content(space-between);
        @include align-items(center);
        padding: 15px 15px 0 15px;
        margin-top: 12px;
        .head-title {
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 700;
        }
        .head-close {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-size: 20px;
            color: rgb(153, 153, 153);
        }
    }
    .body {
        height: calc(100% - 72px);
        overflow: auto;
        margin-top: 15px;
        .form-voucher {
            padding: 0 15px;
            display: flex;
            margin-bottom: 15px;
            button {
                background: $color-app;
                border: 1px solid $color-app;
                font-size: 12px;
                text-transform: uppercase;
                font-weight: 600;
                color: #fff;
                width: 100px;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
            }
            input {
                background: #fff;
                flex: 1;
                height: 40px;
                padding: 0 15px;
                text-transform: uppercase;
            }
        }
        ul {
            padding: 0 15px;
            li {
                @include flexbox();
                //background-image: url(../../assets/images/coupon_bg.svg);
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;
                height: calc((100vw - 32px) / 3.57);
                margin-bottom: 12px;
                color: rgb(36, 36, 36);
                .coupon {
                    padding-left: 16px;
                    flex: 1 1 0%;
                    .coupon-title {
                        font-size: 18px;
                        line-height: 24px;
                        padding: 0px;
                        margin: 12px 0px 0px;
                        font-weight: 700;
                    }
                    .coupon-end {
                        font-size: 12px;
                        line-height: 16px;
                        color: rgb(120, 120, 120);
                    }
                    .coupon-value {
                        margin: 5px 0;
                        font-size: 14px;
                        font-weight: 700;
                        span {
                            color: $color-price-app;
                            padding-left: 5px;
                        }
                    }
                }
                .apply-coupon {
                    width: calc((100vw - 32px) / 4.2875);
                    flex-shrink: 0;
                    @include flexbox();
                    @include align-items(center);
                    @include justify-content(center);
                    color: $color-app;
                    font-weight: 600;
                    text-transform: capitalize;
                }
            }
        }
    }
}

.wallet-popup-swipe {
    min-height: 30%;
    .body-wallet {
        padding: 0 15px;
        @include flexbox();
        span {
            font-weight: 700;
            color: $color-price-app;
            display: block;
            margin-left: 5px;
            font-size: 15px;
            b {
                font-size: 12px;
                padding-left: 2px;
            }
        }
    }
    .body-wallet--error {
        padding: 15px 10px 0 15px;
        font-size: 13px;
        color: #d0011b;
    }
    .body-wallet--form {
        padding: 15px;
        @include flexbox();
        input {
            background: $white;
            border: 1px solid rgba(0, 0, 0, .09);
            outline: none;
            height: 40px;
            padding: 0 15px;
            width: calc(100% - 115px);
        }
        button {
            width: 105px;
            margin-left: 10px;
            background: $color-app;
            border: 0;
            border-radius: 2px;
            color: $white;
            font-size: 14px;
            outline: none;
        }
    }
}

.page-pay-success {
    padding: 50px;
    text-align: center;
    .image {
        margin-bottom: 30px;
        img {
            width: 180px;
        }
    }
    .text {
        font-size: 15px;
        margin-bottom: 20px;
        span {
            color: $color-price-app;
            font-weight: 700;
        }
    }
    .btn {
        a {
            width: 100%;
            background: $color-app;
            height: 42px;
            border-radius: 3px;
            color: $white;
            font-size: 15px;
            margin-bottom: 12px;
            font-weight: 700;
            &:first-child {
                background: transparent;
                color: $color-app;
                border: 1px solid $color-app;
            }
            &.sheet-open {
                line-height: 43px;
                font-size: 14px;
            }
        }
    }
}

.icon-cart-component {
    position: fixed;
    width: 42px;
    height: 42px;
    z-index: 100001;
    background: $color-app;
    color: $white;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    left: 5px;
    bottom: calc(var(--f7-toolbar-height) + var(--f7-safe-area-bottom) + 5px);
    border-radius: 4px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    i {
        font-size: 18px;
    }
    span.count {
        position: absolute;
        width: 15px;
        height: 15px;
        background: $color-danger2;
        border-radius: 100%;
        font-size: 10px;
        text-align: center;
        right: 4px;
        top: 4px;
        line-height: 16px;
    }
}